h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}
h2{
    text-align:center;
    margin: 50px;
}
#intro .jumbotron{
    height:87vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#intro h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
}
#intro .btn{
    border-radius: 1.25rem;
}
header nav img{
    width: 30vh;
}
header .nav-link{
    margin: 5px;
}
#second h3{
    font-size: 22px;
    text-align:left;
}
#second p{
    text-align:left;
}
#second img{
    height:10vh;
} 
#intro{
    padding-bottom: 80px;
}
#second{
    padding-top: 100px;
    padding-bottom: 70px;
}
#last{
    padding-top: 100px;
    padding-bottom: 70px;
}
#last .card-text{
    font-size: 20px;
    color:#000000;
    font-weight: 500;
    line-height: 2;
    justify-content:center;
}
#last p{
    font-size: 16px;
    color:#7B7B7B;
}
#last a{
    text-decoration: none;
}